{% extends 'base.html' %}

{% block title %}HOME{% endblock title %}

{% block body%}
<marquee behavior="scroll" direction="left" style="background-color: #172020e0; color: gold;">UNDER CONSTRUCTION!!!</marquee>
<div style="margin-left: 285px;">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="width:800px; height: 330px;">
    <div class="carousel-indicators" style="position: absolute; bottom: -84px">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner"style="width:800px; height: 450px;">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://cdn.pixabay.com/photo/2020/01/07/16/14/baby-4748020__340.jpg" class="d-block w-100" alt="..." style="height:500px">
      </div>
      <div class="carousel-item" data-bs-interval="2000"style="width:800px; height: 450px;">
        <img src="https://images.pexels.com/photos/1692693/pexels-photo-1692693.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item"style="width:800px; height: 450px;">
        <img src="https://thumbs.dreamstime.com/b/emergency-hospital-bed-equipment-empty-37121864.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock body %}
