{% extends 'base.html' %}

{% block title %}SERVICES{% endblock title %}

{% block body %}
<marquee behavior="scroll" direction="left" style="background-color: #172020e0; color: gold;">UNDER CONSTRUCTION!!!</marquee>
<div _ngcontent-serverapp-c47="" class="row row-cols-2 row-cols-lg-4 g-2 g-md-3" style="margin: 15px;">
    <div _ngcontent-serverapp-c47="" class="col">
        <div _ngcontent-serverapp-c47="" class="card text-white bg-yello rounded-5 border-0 shadow-sm" style="background-color: #0d6efd;">
            <a _ngcontent-serverapp-c47="" href="/book-appointment" routerlink="/book-appointment" class="whatDoyoLike">
                <div _ngcontent-serverapp-c47="" class="d-flex flex-column">
                    <div _ngcontent-serverapp-c47="" class="p-3 p-md-4 pb-0 pb-md-0 card-top" style="background-color: rgb(13 110 253); border-radius: 5px;">
                        <h3 _ngcontent-serverapp-c47="" style="color: gold;">Book Appointment</h3>
                        <p _ngcontent-serverapp-c47="" style="color: white;">Book doctor appointment online instantly with top specialists.</p>
                    </div>
                    <div _ngcontent-serverapp-c47="" class="d-flex mt-auto align-items-end justify-content-between ps-3 ps-md-4">
                        <img _ngcontent-serverapp-c47="" src="assets/images/circle-arrow.svg" alt="" width="24" class="pb-4">
                        <div _ngcontent-serverapp-c47="" class="position-relative card-icon">
                            <img _ngcontent-serverapp-c47="" src="https://cdn.askapollo.com/live/assets/images/book-appointment.webp" class="banner-image-size" width=235px height="193px">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div _ngcontent-serverapp-c47="" class="col">
        <div _ngcontent-serverapp-c47="" class="card text-white bg-yello rounded-5 border-0 shadow-sm" style="background-color: #0d6efd;">
            <a _ngcontent-serverapp-c47="" href="/book-lab-tests" routerlink="/book-lab-tests" class="whatDoyoLike">
                <div _ngcontent-serverapp-c47="" class="d-flex flex-column">
                    <div _ngcontent-serverapp-c47="" class="p-3 p-md-4 pb-0 pb-md-0 card-top" style= "background-color: rgb(13 110 253); border-radius: 5px;">
                        <h3 _ngcontent-serverapp-c47="" style="color: gold;">Book Lab Test &amp; Diagnostics
                        </h3>
                        <p _ngcontent-serverapp-c47="" style="color: white;">Blood Test, Thyroid, Diabetics, MRI, CT scan</p>
                    </div>
                    <div _ngcontent-serverapp-c47="" class="d-flex mt-auto align-items-end justify-content-between ps-3 ps-md-4">
                        <img _ngcontent-serverapp-c47="" src="./assets/images/circle-arrow.svg" alt="" width="24" class="pb-4">
                        <div _ngcontent-serverapp-c47="" class="position-relative card-icon">
                            <img _ngcontent-serverapp-c47="" src="https://cdn.askapollo.com/live/assets/images/book-helthcheck.webp" class="banner-image-size" width="auto" height="160px">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div _ngcontent-serverapp-c47="" class="col">
        <div _ngcontent-serverapp-c47="" class="card text-white bg-yello rounded-5 border-0 shadow-sm" style="background-color: #0d6efd;">
            <a _ngcontent-serverapp-c47="" routerlink="/book-health-check" class="whatDoyoLike" href="/book-health-check">
                <div _ngcontent-serverapp-c47="" class="d-flex flex-column">
                    <div _ngcontent-serverapp-c47="" class="p-3 p-md-4 pb-0 pb-md-0 card-top" style= "background-color: rgb(13 110 253); border-radius: 5px;">
                        <h3 _ngcontent-serverapp-c47="" style="color: gold;">Book Health Packages</h3>
                        <p _ngcontent-serverapp-c47="" style="color: white;">Standard &amp; Personalised health checks for Men and Women</p>
                    </div>
                    <div _ngcontent-serverapp-c47="" class="d-flex mt-auto align-items-end justify-content-between ps-3 ps-md-4">
                        <img _ngcontent-serverapp-c47="" src="./assets/images/circle-arrow.svg" alt="" width="24" class="pb-4">
                        <div _ngcontent-serverapp-c47="" class="position-relative card-icon">
                            <img _ngcontent-serverapp-c47="" src="https://cdn.askapollo.com/live/assets/images/health-library.webp" alt="health-library" class="banner-image-size" width="auto" height="160px">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div _ngcontent-serverapp-c47="" class="col">
        <div _ngcontent-serverapp-c47="" class="card text-white bg-yello rounded-5 border-0 shadow-sm" style="background-color: #0d6efd;">
            <a _ngcontent-serverapp-c47="" routerlink="/book-homecare-healthservices" class="whatDoyoLike" href="/book-homecare-healthservices">
                <div _ngcontent-serverapp-c47="" class="d-flex flex-column">
                    <div _ngcontent-serverapp-c47="" class="p-3 p-md-4 pb-0 pb-md-0 card-top" style= "background-color: rgb(13 110 253); border-radius: 5px;">
                        <h3 _ngcontent-serverapp-c47="" style="color: gold;">Book Homecare Health Services</h3>
                        <p _ngcontent-serverapp-c47="" style="color: white;">Elderly Care, Physiotherapy, Vaccinations, Nursing </p>
                    </div>
                    <div _ngcontent-serverapp-c47="" class="d-flex mt-auto align-items-end justify-content-between ps-3 ps-md-4">
                        <img _ngcontent-serverapp-c47="" src="./assets/images/circle-arrow.svg" alt="" width="24" class="pb-4">
                        <div _ngcontent-serverapp-c47="" class="position-relative card-icon">
                            <img _ngcontent-serverapp-c47="" src="https://cdn.askapollo.com/live/assets/images/consult-online.webp" class="banner-image-size" width="auto" height="160px">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div _ngcontent-serverapp-c47="" class="text-white bg-covid card rounded-5 border-0 shadow-lg flex-row align-items-center" style="background-color: #0c397c; margin: 22px;">
    <img _ngcontent-serverapp-c47="" src="https://cdn.askapollo.com/live/assets/images/covid-icon.webp" alt="" width="158" class="cursor-pointer">
    <div _ngcontent-serverapp-c47="" class="w-100 py-4 px-3 px-md-4 cursor-pointer">
        <h3 _ngcontent-serverapp-c47="" class="text-white mobile_paragraph">COVID-19 Information</h3>
        <p _ngcontent-serverapp-c47="" class="mobile_paragraph"> Everything You Need To Know About COVID-19 : Symptoms,Diagnosis,Treatment &amp; Vaccination Centers </p>
        <a _ngcontent-serverapp-c47="" href="https://healthlibrary.askapollo.com/category/covid-19/" target="_blank" class="btn btn-primary mt-3 text-uppercase text-nowrap"> know more </a>
    </div>
</div>
{% endblock body %}
